
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 222);
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.movies{
   
    padding-top: 30px;
    width: 60%;
    position: absolute;
    top:0;
    left:0;
    
} 